body {
  padding: 20px;
}

.no-bullet {
  font-size: 0.9em;
}

#usage .small-block-grid-2 {
  font-size: 1em;
}

#examples tr th:nth-child(2n), #examples tr td:nth-child(2n) {
  max-width: 300px;
  width: 300px;
}

#examples tr td:nth-child(3n) {
  text-align: center;
}

pre {
  white-space: pre-wrap;       /* css-3 */
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  word-wrap: break-word;       /* Internet Explorer 5.5+ */
}